@use "@/styles/color.scss" as *;
@use "@/styles/font.scss" as *;

.score-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.title{
  @extend .label1-semibold;
  color: $gray-900;
  display: flex;
}

.required{
  color: #F35E5E;
}

.score {
  display: flex;
  gap: 0.25rem;
  cursor: pointer;
}